/* №1: Заголовки h1 по правому краю */
h1 {
text-align: right;
}

/* №2 и №8: Заголовки h2 по центру и шириной 300px */
h2 {
    text-align: center;
}

/* №3: Ширина всех таблиц — 500px */
table {
    width: 500px;
}

/* №4: Текст в ячейках th — по левому краю */
th {
    text-align: left
}

/* №5: Текст в ячейках td — по центру */
td {
    text-align: center;
}

/* №6 и №7: Абзацы шириной 300px и выравнивание по обоим краям */
p {
    width: 300px;
    text-align: justify;
}

/* №8: Заголовки h2 шириной 300px*/
h2 {
    width: 300px;
}